<div class="container-login">

    <mat-card class="loginform">
  
      <div class="loginform-tittle">
        <h2>Ingresar a plataforma</h2>
      </div>
  
      <form [formGroup]="loginForm" novalidate (ngSubmit)="(loginForm.valid) ? validateAccess() : false">
  
        <mat-form-field class="full-width">
          <input matInput placeholder="Correo" formControlName="username" required>
          <mat-error *ngIf="!loginForm.controls['username'].valid">
            Ingrese un correo valido
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input matInput placeholder="Contraseña" formControlName="password" required>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            La contraseña es <strong>requireda</strong>
          </mat-error>
        </mat-form-field>
  
        <div class="loginform-button">
          <button mat-stroked-button color="warn" type="reset">Cancel</button>
          <button mat-raised-button color="primary" type="submit">Ingresar</button>
        </div> 
  
      </form>
  
    </mat-card>
  
</div>
