<div class="grid-container content-image">
     
        <div class="hero-text">
          <h1 class="hero-header text-montserrat-extralight">Procesa tus imagenes</h1>
          <h1 class="hero-header text-montserrat-extralight">
              <strong class="text-montserrat-bold">Sin perder la calidad de ellas</strong>  
              Mejor archivo posible
            </h1>
          <h1 class="hero-header text-green text-montserrat-bold">Process</h1>
        </div>
        <div class="hero-image">
             <img src="assets/img/processor.svg" alt="image">
        </div>
    
</div>
