@import "assets/css/main.css";
html, body { height: 100%; }
body { margin: 0; }


/*Login style*/

.container-login, .container-register {
    width: 100%;
    height: 100%;
}

.img-ul-file-upload  label.img-ul-upload.img-ul-button span{
    color:  #000 !important;
  }
